{# Ref: https://caddyserver.com/docs/json #}
{
{% if disable_admin is defined -%}
  "admin": {
    "disabled": true
  },
{%- endif %}
{% if log_level is defined -%}
  "logging": {
    "logs": {
      "defaults": {
        "level": "{{ log_level }}"
      }
    }
  },
{%- endif %}
  "apps": {
{% for name, app in apps|default({})|dictsort -%}
    "{{ name }}": {{ app | json }}{% if not loop.last %},{% endif %}
{%- endfor %}
  }
}